body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    color: #343a40;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 5px solid #f8b500;
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #666666;
}

h2 {
    color: #007bff;
    font-size: 2em;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
    padding: 10px;
    background-color: #e3f2fd;
    border: 2px solid #bbdefb;
    border-radius: 5px;
}

ul li a {
    color: #007bff;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #999999;
}

/* Palette di colori */
.palette {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.palette .color-box {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.color-box.color1 { background-color: #ffecd2; }
.color-box.color2 { background-color: #fcb69f; }
.color-box.color3 { background-color: #f8b500; }
.color-box.color4 { background-color: #e3f2fd; }
.color-box.color5 { background-color: #bbdefb; }
